.learning-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20%;

	.character {
		height: clamp(12.5rem, 20vw, 25rem);
	}

	@media (max-width: 60rem) {
		flex-direction: column-reverse;
		justify-content: start;
		gap: 3.75rem;
	}

	.items-container {
		display: flex;
		flex-direction: column;
		gap: 1.875rem;

		.item {
			display: flex;
			align-items: center;
			transition: var(--transition);
			padding: 0.3125rem 0.625rem;
			border-radius: calc(var(--radius-base) + 0.3125rem);
			gap: 0.9375rem;
			cursor: pointer;

			&:hover {
				background-color: var(--dark-gray-color);

				img {
					opacity: 1;
				}
			}

			@media (max-width: 27.5rem) {
				padding: 0.625rem;
				justify-content: center;
				text-align: center;

				img {
					display: none;
				}
			}

			img {
				height: 3.75rem;
				border-radius: var(--radius-base);
				transition: var(--transition);
				opacity: 0.8;
			}

			.content {
				display: flex;
				gap: 0.3125rem;
				flex-direction: column;
				font-size: var(--normal-text);
				line-height: var(--lh-normal);

				.period,
				.institution {
					color: var(--gray-color);
				}

				.position {
					color: var(--light-color);
					font-weight: 700;
				}
			}
		}
	}
}
