.cards {
	display: flex;
	align-items: stretch;
	overflow-x: auto;
	gap: 1.875rem;
	max-height: 36.25rem;
	scroll-snap-type: x mandatory;

	&::-webkit-scrollbar {
		display: none;
	}

	@media (min-width: 93.75rem){
		justify-content: center;
	}
}

.card {
	display: flex;
	flex-direction: column;
	background-color: var(--dark-gray-color);
	border: 1px solid var(--gray-color);
	flex: 1 0 22.5rem;
	max-width: 30rem;
	border-radius: calc(var(--radius-base) + 1.875rem);
	overflow: hidden;
	scroll-snap-align: start;

	@media (max-width: 53.75rem){
		flex-basis: 60%;
	}

	@media (max-width: 28.125rem){
		flex-basis: 80%;
	}

	.image {
		position: relative;
		height: 60%;
		max-height: 15rem;
		background: linear-gradient(to top, var(--dark-gray-color), transparent);

		.gradient {
			position: absolute;
			background: linear-gradient(
				to bottom,
				transparent,
				var(--dark-gray-color)
			);
			width: 100%;
			height: 100%;
		}

		.anchor-buttons {
			top: 1.875rem;
			right: 1.875rem;
			position: absolute;
			display: flex;
			gap: 10px;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 1.875rem;
				height: 1.875rem;
				border-radius: 0.3125rem;
				color: var(--light-color);
				background-color: var(--dark-gray-color);
				transition: var(--transition);

				&:is(:hover, :focus, :active) {
					opacity: 0.8;
				}
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}
	}

	.content {
		padding: 1.875rem;
		display: flex;
		flex-direction: column;
		gap: 0.625rem;
		color: var(--light-color);
		font-size: var(--normal-text);
		line-height: var(--text-lh);

		h3 {
			font-weight: 700;
		}

		.stacks {
			display: flex;
			flex-wrap: wrap;
			gap: 0.625rem;
		}
	}
}
