.white-pattern {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: var(--light-color);
	opacity: 0.15;
	background-image: linear-gradient(
			var(--gray-color) 0.1125rem,
			transparent 0.1125rem
		),
		linear-gradient(
			to right,
			var(--gray-color) 0.1125rem,
			var(--light-color) 0.1125rem
		);
	background-size: 2.25rem 2.25rem;
}
