.button {
	display: flex;
	gap: 0.625rem;
	padding: 0.625rem 1.875rem;
	border-radius: var(--radius-base);
	font-size: var(--normal-text);
	align-items: center;
	cursor: pointer;
	transition: var(--transition);
	position: relative;
	overflow: hidden;

	&:after {
		content: "";
		height: 7.5rem;
		width: 2rem;
		bottom: 50;
		left: -100%;
		position: absolute;
		opacity: 0.15;
		transform: rotate(45deg);
		transition: var(--transition);
		z-index: 1;
	}

	&:is(:hover, :focus, :active) {
		transform: translateY(-0.3125rem);

		&:after {
			animation: sheen 1s both infinite;
		}
	}
}

.button.dark {
	background-color: var(--dark-color);
	color: var(--light-color);
	border: 1px solid var(--dark-gray-color);
	box-shadow: var(--dark-bs);

	&::after {
		background: var(--light-color);
	}
}

.button.light {
	background-color: var(--light-color);
	color: var(--dark-color);
	border: 1px solid var(--gray-color);
	box-shadow: var(--light-bs);

	&::after {
		opacity: 0.05;
		background: var(--dark-gray-color);
	}
}

@keyframes sheen {
	from {
		left: -100%;
	}

	to {
		left: 120%;
	}
}
