.header-section {
	display: flex;
	flex-direction: column;
	gap: 1.625rem;
	margin-bottom: 1.875rem;
	align-items: center;
	text-align: center;
}

.header-section h2 {
	font-size: var(--hero-role);
	font-weight: 700;
	padding-block: 0.25rem;
	line-height: var(--title-lh);
	width: fit-content;
}

.header-section p {
	line-height: var(--text-lh);
}

section:nth-child(even) .header-section {
	h2 {
		background: linear-gradient(var(--light-gradient));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	p {
		color: var(--light-color);
	}
}

section:nth-child(odd) .header-section {
	h2 {
		background: linear-gradient(var(--dark-gradient));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	p {
		color: var(--dark-color);
	}
}
