.stacks-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 38.75rem;
	justify-content: center;
	margin-inline: auto;
	gap: 1.875rem;
	position: relative;
	z-index: 1;

	@media (max-width: 40rem) {
		display: flex;
		flex-wrap: wrap;
	}

	.icon {
		height: clamp(3.125rem, 10vw, 6.25rem);
		transition: var(--transition);
		filter: saturate(0);
		cursor: pointer;
		flex: 0 clamp(3.125rem, 10vw, 6.25rem);

		&:hover {
			filter: saturate(1) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.12));
			transform: translateY(-0.3125rem) scale(1.05);
		}
	}
}