.stacks {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(5, clamp(3.125rem, 10vw, 6.25rem));
	gap: 1.875rem;

	@media (max-width: 40rem) {
			display: flex;
			flex-wrap: wrap;
	}

	.icon {
		height: clamp(3.125rem, 10vw, 6.25rem);
		transition: var(--transition);
		filter: saturate(0);
		cursor: pointer;
		z-index: 1;

		&:hover {
			filter: saturate(1) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.12));
			transform: translateY(-0.3125rem) scale(1.05);
		}
	}
}
