* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Inter, sans-serif;
}

html {
	scroll-behavior: smooth;
}

:root {
	--dark-color: #040c0c;
	--light-color: #fbfbfb;
	--dark-gray-color: #3f3f3f;
	--gray-color: #dedede;
	--html-bg: #532502;
	--html-color: #ff6d00;
	--css-bg: #241037;
	--css-color: #b266ff;
	--tailwind-bg: #034563;
	--tailwind-color: #38bdf8;
	--js-bg: #665600;
	--js-color: #ffd400;

	--dark-gradient: to right, var(--dark-color), #848484;
	--light-gradient: -81deg, var(--light-color), #3d3d3d;

	--dark-bs: inset 4px 4px 10px rgba(168, 168, 168, 0.2),
		inset -4px -4px 10px rgba(168, 168, 168, 0.2),
		0px 5px 15px rgba(125, 125, 125, 0.2);
	--light-bs: inset 4px 4px 10px rgb(176, 172, 172, 0.2),
		inset -4px -4px 10px rgb(176, 172, 172, 0.2),
		0px 5px 15px rgba(125, 125, 125, 0.2);

	--transition: all ease-in-out 0.3s;

	--inline-spacing: calc(10vw + 1.25rem);

	--radius-base: 0.625rem;

	--hero-title: clamp(4.5rem, 12vw, 7.5rem);
	--hero-role: clamp(2.25rem, 6vw, 3.25rem);
	--normal-text: calc(0.875rem + 0.1vw);

	--title-lh: 1.2;
	--text-lh: 1.5;
}

@media (max-width: 80rem) {
	:root {
		--inline-spacing: calc(2vw + 1.25rem);
	}
}

body {
	position: relative;
	background-color: var(--dark-color);
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;
	border: none;
}

img:not(.icon) {
	user-select: none;
	pointer-events: none;
}

p {
	font-size: var(--text-normal);
	font-weight: 300;
	line-height: var(--lh-normal);
}

.hidden {
	display: none;
}

.no-scroll {
	overflow: hidden;
}

.overlay {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	background: rgba(251, 251, 251, 0.5);
	backdrop-filter: blur(0.625rem);
	transition: all 0.3s cubic-bezier(1, -0.56, 0, 0.9);

	&.dark {
		background: rgba(63, 63, 63, 0.5);
	}
}
