* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Inter, sans-serif;
}

:root {
	--dark-color: #040c0c;
	--light-color: #fbfbfb;
	--dark-gray-color: #3f3f3f;
	--gray-color: #dedede;

	--html-bg: #572500;
	--html-color: #ff6d00;
	--css-bg: #241037;
	--css-color: #B266FF;
	--tailwind-bg: #034563;
	--tailwind-color: #38bdf8;
	--js-bg: #665600;
	--js-color: #ffd400;

	--dark-gradient: to right, var(--dark-color), #848484;
	--light-gradient: -81deg, var(--light-color), #3d3d3d;

	--transition: all ease-in-out 0.3s;

	--inline-spacing: calc(10vw + 1.25rem);

	--radius-base: 0.625rem;

	--hero-title: clamp(4.5rem, 12vw, 7.5rem);
	--hero-role: clamp(2.25rem, 6vw, 3.25rem);
	--text-normal: calc(0.875rem + 0.1vw);

	--lh-normal: calc(var(--text-normal) * 1.2);
}

@media (max-width: 73.75rem) {
	:root {
		--inline-spacing: calc(2vw + 1.25rem);
	}
}

body {
	background-color: var(--dark-color);
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;
	border: none;
}

img {
	user-select: none;
	pointer-events: none;
}

p {
	font-size: var(--text-normal);
	font-weight: 300;
	line-height: var(--lh-normal);
}
